each item in data
    dl
        dt
            span  #{item.positionName}
            span  #{item.jobTypeName}
            span  #{item.workSplace}
            span  #{item.releaseDate}
                i.iconfont.icon-arrow-bottom
        dd
            p 工作职责
            p 1、负责网站应用的运维、管理、部署和架构规划;
            p 2、负责网站各类运维管理平台和运维工具的开发和维护工作，并不断优化工具效率;
            p 3、负责对生产服务质量进行监控、分析, 定位性能瓶径并提出合理化建议, 参与系统架构设计和性能调优;
            p 4、编写并持续完善系统运维手册、部署文档、性能参数说明; 5、各类故障和事务的应急响应和技术支持。
            p 职责要求
            p 1、学历要求:统招本科及以上学历，计算机以及相关专业，
            p 2、经验要求: 5年以上Linux/Unix系统管理经验，具有大型网站或web应用平台运维经验 3、技能要求: （1）精通Linux系统原理，熟悉内核参数调优，精通基于Linux的常用服务配置，并能够快速部署、配置及排错； （2）熟悉Tcp/Udp 网络原理，深入理解Http 协议，负载均衡硬件、haproxy,LVS技术，了解Web 安全等网站技术 （3）精通Shell/Perl/Python编程（至少一种），使用脚本来完成日常系统运维工作 （4）熟悉服务器设备、网络设备、安全设备等的功能和性能，能熟练运用多种设备设计构建符合要求的网络系统架构 （5）深入掌握nginx及tomcat等常见应用的配置及调优, 有3年以上较大规模复杂生产环境的运维经验，熟悉各类问题的辨别和处理技巧，并且能沟通和推动解决; 4、通用要求： （1）较强的学习能力和技术钻研能力、有自我驱动意识 （2）有良好的沟通能力，善于跨团队合作，能够承担一定的工作压力； （3）具备较强的交流、沟通和表达能力，具备很强的问题分析和解决能力, 有良好的工作流程和文档制定撰写习惯;
include ../../includes/pagination