footer.footer.clearfix
    .wrapper
        dl
            dt
                h4 关注我们
                figure
                    img.lazy(data-original='/images/wx-service.png')
                    figcaption 官方微信服务号
                figure
                    img.lazy(data-original='/images/wx-subscribe.png')
                    figcaption 官方微信订阅号
                //-.line
            dt
                h4 APP下载
                figure
                    img.lazy(data-original='/images/wx-msfq.png')
                    figcaption 极速分期APP
                figure
                    img.lazy(data-original='/images/wx-qhsnowball.png')
                    figcaption 明日APP
            dd
                h4 联系我们
                p
                    i.iconfont.icon-kefu
                    |客服热线：400-036-8876  (9:00-22:00)
                p
                    i.iconfont.icon-phone
                    |还款热线：400-036-8876 (9:00-21:00)
.copyright
    .wrapper
        p @2017 深圳市明日科技咨询责任有限公司 All rights reserved 粤ICP备15005075
script(src='/js/common.js')
script(src='/js/vendors.js')
//-单页样式
block scripts