header.header
    .wrapper.clearfix
        a.logo(href='/' title='明日') 明日
        nav.nav
            a(href='/') 首页
            a(href='/abouts') 明日
            a(href='/news') 企业动态
            a(href='/jops') 诚聘英才
            a(href='/contacts') 联系我们