@import "includes/settings";
.list-wrapper{
  header{
    position: relative;border-bottom: 1px solid $color-gray-9;
    padding-bottom: 1rem;margin-top: 2rem;
    h2{
      font-size: 1.6rem;color: $color-gray-3;font-weight: bold;

    }
    a{position: absolute;right: 0px;top: 0px;}
  }
}
.list{
  ul{
    margin-left: -3.3%;padding-top: 20px;
    li{
      width: 30%;margin-left: 3.3%;float: left;
      padding:0 0 20px 0;
      img{width: 100%}
      p{
        padding: 8px 0;height: 48px;
      }
      a:hover{color: $color-orange-e6a;}
    }
  }
}
.article{
  header{
    padding: 3rem 0 2rem;text-align: center;border-bottom: 1px solid $color-gray-9;
    margin-bottom: 3rem;
    h1{font-size: 1.8rem;font-weight: bold;line-height:30px;padding-bottom: 10px;}
  }
  article{
    padding:0 5rem;
    p{
      text-indent: 2rem;
    }
    img{margin: 10px auto;display: block;}
  }
}
.no-more .loader-text{display: none;}