extends layout
block styles
  link(rel='stylesheet',href='/css/abouts/about.css')
block content
  .ads
    img(src='/images/b-contact.png')
  section.tit
    .wrapper.about
      span(data-type='1').on
        i.iconfont.icon-shangjiantou
        |公司简介
      span(data-type='2')
        i.iconfont.icon-shangjiantou
        |明日大事记
      span(data-type='3')
        i.iconfont.icon-shangjiantou
        |业务覆盖
      span(data-type='4')
        i.iconfont.icon-shangjiantou
        |产品介绍
  section.wrapper.about
    header#1
      h2 公司简介
    .brief.clearfix
       figure
          img(data-original='/images/about01.png' alt='公司简介')
          figcaption
            p 深圳市明日科技咨询有限责任公司（以下简称“明日”）是一家注册在深圳市前海自贸区的金融科技公司，本着为消费者、商户及金融机构服务的宗旨，明日将依托自身在消费金融行业丰富的经验、全国广泛的销售网络以及全行业品类的全金融产品，致力于成为最具价值的金融服务提供商。
            p 我们是银监会批准的持牌消费金融机构战略合作伙伴
            p 我们是一家业务覆盖全国范围的消费金融信息服务提供商
            p 我们是一家具有丰富消费金融行业经验的金融服务提供商
            p 我们是一家拥有庞大密集销售网络及商户资源的金融服务提供商
  section.wrapper.about
    header#2
      h2 明日大事记
    img(data-original='/images/about02.png' alt='明日大事记')
  section.wrapper.about
    header#3
      h2 业务覆盖
    img(data-original='/images/about03.png' alt='业务覆盖')
  section.wrapper.about
    header#4
      h2 产品介绍
    .introduce
      .hd
        span.on 分期贷
          i.iconfont.icon-arrow-top
        span 其他产品
          i.iconfont.icon-arrow-top
      .bd.clearfix
        aside
          dl.introduce-left.clearfix
            dt
              h3 分期贷
              h4 多场景灵活分期
              p 品质生活更轻松
            dd
              figure
                img(data-original='/images/about-s01.png')
                figcaption
                  h5 极简流畅
                  p 0担保，0抵押
                  p 轻松四步，申请轻松
              figure
                img(data-original='/images/about-s02.png')
                figcaption
                  h5 快速高额
                  p 最快两分钟完成审批
                  p 最高20万信用贷款
              figure
                img(data-original='/images/about-s03.png')
                figcaption
                  h5 尊享服务
                  p 1对1专属VIP服务
                  p 轻松分期
              figure
                img(data-original='/images/about-s04.png')
                figcaption
                  h5 O2O商城
                  p 网上预约、到店提货
                  p 正品行货、品质无忧
          .introduce-right
            img(data-original='/images/about-phone.png')
        aside 其他产品

block scripts
  script(src='/js/abouts/about.js')
