extends layout

block styles
  link(rel='stylesheet',href='/css/index.css')
block content
  h2= title
  .main
    p Welcome to #{title}
  .index 首页内容11!
  .app
block scripts
  script(src='/js/test.js')
