extends ../layout

block styles
  //link(rel='stylesheet',href='/css/news/index.css')
block content
  section.wrapper.article
    header
      h1 文章标题-国家核心布局：中国这个领域，爆发了
      p 发布日期：
        time 2017-09-21
    article
      p 2014年，两院院士大会上，习近平总书记曾说到：“历史告诉我们一个真理，一个国家是否强大不能单就经济总量大小而定，一个民族是否强盛也不能单凭人口规模、领土幅员多寡而定。近代史上，我国落后挨打的根子之一就是科技落后。”
      p 当今时代，新一轮科技革命和产业变革正在孕育兴起。机者如神，难遇易失。中国的战略抉择是，把创新作为引领发展的第一动力，把科技创新摆在国家发展全局的核心位置，大力实施创新驱动发展战略。
      p 惟创新者进，惟创新者强，惟创新者胜。
      p 这五年，科技创新正在让百姓生活更为便捷，让企业发展更具活力，让国家实力更加强大。
      p  创新，我们最深沉的民族禀赋，再次焕发出撬动地球的力量。
      p 中国的机器人有颗“最强大脑”
      p 5的分钟计算量，相当于一个繁忙机场
      p
        img(src='/images/detail01.png')
      p 这里是中国快递业最大的智能分拣工厂。
      p 要确保包裹在三个半小时内全发出去，必须依赖于这些不知疲倦的“小黄人”。在过去，要完成这个分拣量，至少需要100名熟练工人。
      p 2000平方米的作业面积，可以产生的路径有3000亿条。怎样迅速找到最佳路径，又避免和其它“小黄人”相撞，要归功于一个厉害的大脑。
      p 天津申通物流信息部经理葛志中：“我们整套的机器人设备，它五分钟的计算量，相当于北京我们最繁忙的首都机场，一天航班的起降的计算量。”

block scripts
  script(src='')
