.fixed{position: fixed;left:50%;top: 0px;z-index: 99;transform: translateX(-50%)}
.wrapper{
  width: 1000px;margin: 0 auto;
}
.pd{
  padding: 10px;
}
.ads{
  img{width: 100%;display: block;}
}
.on{
  position: relative;
  .icon-shangjiantou{
    position: absolute;bottom: 0px;left: 50%;transform: translateX(-50%);display: block;
    color: $color-orange-e6a;line-height: 18px;height: 12px;font-size: 1.8rem;
  }
}
.errorPage{
  text-align: center;padding: 3rem 0;
  a{color: $color-orange-e6a;
    margin: 2rem 0;
    &:hover{background-color: $color-orange-e6a;color: $white;}
  }
  img{width: 400px;}
  h4{padding: 2rem;font-size:2rem;color: $color-gray-9;}
}
.btn{
  display: inline-block;padding: 0 2rem;border: 1px solid $color-orange-e6a;
  line-height: 30px;height: 30px;cursor: pointer;
}
.loader-footer{
  text-align: center;
  .loader-loading{display: none;}
  .loader-text{
    display: none;position: relative;
    em{padding: 0 1rem;position: relative;}
    &:before{
      content: '';
      position: absolute;width: 60%;height: 1px;top: 50%;left: 20%;
    }
  }
}
// loading效果
@keyframes circle {
  100% { transform: rotate(360deg); }
}
.ui-loadings{
  text-align: center;
  vertical-align: middle;
  position: relative;
  &:before{
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    content: '';
    width: 1em;
    height: 1em;
    border: 2px solid darken(#EFEFF4, 30%);
    border-top-color: #fff;
    border-radius: 100%;
    animation: circle .8s infinite linear;
  }
  &:after{
    position: relative;top: 1px;
    content: '数据加载中';
  }
}
.no-more {
  .loader-loading{display: none;}
  .loader-text{display: block;}
}