@import "settings";
.logo{
  width: 180px;height: 55px;text-indent: -9999px;
  float: left;background: url("../images/logo.png") no-repeat;
}

.header{
  position: relative;padding: 20px 0 15px;background-color: $color-gray-f6;
}
.nav{
  width: 600px;text-align: right;
  float: right;position: relative;top: 15px;font-size: 1.8rem;
  a{
    display: inline-block;padding: 5px 10px;color: $color-gray-3;
    margin: 0 5px;
    &:hover,&.on{
      color: $color-orange-e6a;border-bottom:2px solid $color-orange-e6a;
      transition: color 0.5s;
    }
  }
}
